{% extends "partial/oydisk_layout_account.html.twig" %}

{% block title %}{{ t("forgot_password_page_name", "Forgot Password") }}{% endblock %}
{% block description %}{{ t("forgot_password_meta_description", "Forgot account password") }}{% endblock %}
{% block keywords %}{{ t("forgot_password_meta_keywords", "forgot, password, account, image, picture, pic, img, hosting, sharing, upload, storage, site, website") }}{% endblock %}

{% block body %}
	<section class="ptb-120 justify-content-center full-height bg-image">
    <div class="background-image-wraper custom-overlay" style="background: url('{{ theme.OyDiskImgPath() }}/pattern-1.svg') repeat center center;opacity: 1;"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="login-signup-wrap p-5 gray-light-bg rounded shadow">
                        <div class="login-signup-header text-center">
                            <a class="navbar-brand pt-0" href="{{ CORE_SITE_PATH }}"><img style="max-height: 1.85714286em;" src="{{ theme.getMainLogoUrl() }}" alt="logo"/></a>
                            <h5 class="mb-2">{{ t("forgot_password_page_name", "Forgot Password") }}</h5>
							{% if msg_page_errors is defined %}
							<div class="alert alert-danger">
								<i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{% if msg_page_errors is defined %}{{ msg_page_errors|join('. ') }}{% endif %}
							</div>
							{% endif %}
                    <p>{{ t("forgot_password_sent_intro_text", "An email has been sent with further instructions on how to reset your password. Please check your email inbox.", {'EMAIL_ADDRESS': emailAddress}) }}</p>
                        </div>
							<p class="text-center mb-0"><a href="{{ CORE_SITE_PATH }}/register">{{ t("register", "register")|title }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ CORE_SITE_PATH }}/account/forgot_password">{{ t("forgot_password", "forgot password")|title }}</a></p>
							
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="copyright-wrap small-text text-center mt-5 text-white">
                        <p class="mb-0">{{ t("copyright", "copyright")|title }} &copy; {{ "now"|date("Y") }} - {{ SITE_CONFIG_SITE_NAME }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
{% endblock %}