<div class="preview-download-wrapper" onClick="{% if showDownloadLink == true %}opeUrl('{{ file.generateDirectDownloadUrl() }}');{% else %}alert('{{ t('download_file_blocked', 'Downloading restricted. Please contact the file owner to request they enable downloading.')|escape("js") }}');{% endif %} return false;">
    <div class="tile-stats download tile-white tile-white-primary"> <img src="{{ imageIcon }}" style="width: 140px; height: 140px;"/><div class="icon"><i class="entypo-download"></i></div> <h3>{% if showDownloadLink == true %}{{ t('account_file_details_download', 'Download')|title }}&nbsp;{% endif %}{{ file.originalFilename }}</h3> <p>{{ t('file_details_filesize', 'Filesize') }}:&nbsp;{{ file.getFormattedFilesize() }}</p> </div>
</div>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    $('.content-preview-wrapper').removeClass('loader');
});
//]]>
</script>