<script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/css/elite.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/css/elite-font-awesome.css" type="text/css">
<link rel="stylesheet" href="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/css/jquery.mCustomScrollbar.css" type="text/css">

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/js/froogaloop.js" type="text/javascript"></script>
<script src="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/js/jquery.mCustomScrollbar.js" type="text/javascript"></script>
<script src="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/js/THREEx.FullScreen.js"></script>
<script src="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/js/videoPlayer.js" type="text/javascript"></script>
<script src="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/js/Playlist.js" type="text/javascript"></script>
<script src="{{ WEB_ROOT }}/plugins/filepreviewer/assets/players/elite/js/vast.js" type="text/javascript"></script>

<div id="Elite_video_player" style="display:block;"></div>
<script type="text/javascript">
var shouldTrackPlayedTime = {{ ackPercentage > 0 ? 'true' : 'false' }};
var ackPercentage = {{ ackPercentage|number_format }};
var playedTimeTracker = null;
var videoPlayer = null;
var mediaTotalDuration = -1;
var totalPlayedTime = 0;
var isPlaying = false;
$(document).ready(function() {
    setupVideoPreview();

    // track total played in seconds
    playedTimeTracker = setInterval(trackPlayedTime, 5000);
});

function setupVideoPreview() {
    var options = {  
        instanceName:"videoPlayer",                      
        instanceTheme:"light",       
        videoPlayerShadow:"off",
        autohideControls:5,                         
        hideControlsOnMouseOut:"Yes",
        playerLayout: "fitToContainer",
        videoRatio: 16/9,                           
        videoRatioStretch: false,                    
        iOSPlaysinline: true,
        autoplay:false,                              
        colorAccent:"#cc181e",         
        posterImg: "{{ videoThumbnail|raw }}",
        loadRandomVideoOnStart:"No",                
        shuffle:"No",				                 
        onFinish:"Stop video",                  
        nowPlayingText:"No",                        
        HTML5VideoQuality:"HD",                      
        HTML5videoThumbnails: "vtt",                
        preloadSelfHosted:"none",                    
        rightClickMenu:false,                        
        hideVideoSource:true,						 
        showAllControls:true,						                      
        qualityShow: "No",                         
        infoShow:"No",                             
        shareShow:"No",                             		 
        logoShow:"No",                             
        logoClickable:"Yes",                         
        logoPath:"{{ logoUrl }}",
        logoPosition:"bottom-left",
        embedShow:"No", 
        showGlobalPrerollAds: false,
        advertisementTitle:"Advertisement",          
        skipAdvertisementText:"Skip advertisement",  
        skipAdText:"You can skip this ad in",        
        mutedNotificationText:"Video has no sound", 
        playBtnTooltipTxt:"Play",                    
        pauseBtnTooltipTxt:"Pause",                 
        rewindBtnTooltipTxt:"Rewind",                
        downloadVideoBtnTooltipTxt:"Download video", 
        qualityBtnOpenedTooltipTxt:"Close settings",
        qualityBtnClosedTooltipTxt:"Settings",       
        ccShowOnHTML5Videos: true,                   
        ccShowOnVideoLoad: true,                     
        ccBtnOpenedTooltipTxt:"Hide captions",     
        ccBtnClosedTooltipTxt:"Show captions",       
        muteBtnTooltipTxt:"Mute",                   
        unmuteBtnTooltipTxt:"Unmute",               
        fullscreenBtnTooltipTxt:"Fullscreen",        
        exitFullscreenBtnTooltipTxt:"Exit fullscreen",
        fullscreenADBtnTooltipTxt:"Watch advertisement in fullscreen",
        exitFullscreenADBtnTooltipTxt:"Exit fullscreen",			              
        shareBtnTooltipTxt:"Share",
        volumeTooltipTxt:"Volume",
        lastBtnTooltipTxt:"Go to last video",        
        firstBtnTooltipTxt:"Go to first video",      
        nextBtnTooltipTxt:"Play next video",        
        previousBtnTooltipTxt:"Play previous video",
        nowPlayingTooltipTxt:"NOW PLAYING",          
        copyTxt:"Copy",
        copiedTxt:"Copied!",
        videos:[
            {
                videoType: "HTML5",
                mp4HD: "{{ downloadUrlForMedia|raw }}",
                imageUrl: "{{ videoThumbnail|raw }}",
                enable_mp4_download: "no",
                imageTimer: 4
            }
        ]
    };
    
    {% if vastUrl|length > 0 and UserHelper.showSiteAdverts() %}
    options.vastUrl = '{{ vastUrl }}';
    {% endif %}
    
    videoPlayer = $("#Elite_video_player").Video(options);
    
    $(videoPlayer.videoElement).bind("loadeddata", function() {
        // fix issue with progress bar not showing
         $("#Elite_video_player").resize();
    });
    
    $(videoPlayer.videoElement).bind("play", function() {
         isPlaying = true;
    });
    
    $(videoPlayer.videoElement).bind("pause", function() {
         isPlaying = false;
    });
}

function trackPlayedTime() {
    if (shouldTrackPlayedTime == false) {
        // stop any future attempts of the timer
        clearInterval(playedTimeTracker);
        return false;
    }

    if (isPlaying == true) {
        // track actual played time
        totalPlayedTime = totalPlayedTime + 5;
    }

    if (mediaTotalDuration == -1) {
        // get total video length
        mediaTotalDuration = Math.round(videoPlayer.getVideoTypeDuration());
    } 
    else {
        // calculate percentage
        percent = 0;
        if (totalPlayedTime > 0) {
            percent = (parseInt(totalPlayedTime) / parseInt(mediaTotalDuration)) * 100;
        }

        // should we log yet?
        if (percent >= ackPercentage) {
            // clear for next time
            shouldTrackPlayedTime = false;
            // log PPD
            $.ajax({
                method: "POST",
                url: "{{ WEB_ROOT }}/rewards/media_log_download_callback",
                data: {
                    fileId: "{{ file.id }}",
                    tracker: "{{ downloadUrlForMediaBase64|raw }}",
                    percent: percent
                }
            });
        }
    }
}
</script>