{% extends "partial/oydisk_layout_error.html.twig" %}

{% block title %}403{% endblock %}
{% block description %}{{ t("error_page_403_detail", "Unauthorised!") }}{% endblock %}
{% block keywords %}{{ t("error_page_403_meta_keywords", "error, image, picture, pic, img, hosting, sharing, upload, storage, site, website") }}{% endblock %}

{% block body %}
<section class="ptb-100 gradient-bg full-height" data-overlay="8">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-9 col-lg-7">
                <div class="error-content-wrap text-center text-white">
                    <div class="notfound-404">
                    <h1 class="text-white">403</h1>
                    </div>
                    <h2 class="text-white">{{ t("error_page_403_detail", "Unauthorised!") }}</h2>
					<a class="btn btn-brand-03" href="{{ CORE_SITE_PATH }}">« {{ t('go_back_to_home', 'Go back to home') }}</a>
                    </div>
                    </div>
                </div>
            </div>
        </section>
<section class="ptb-120 justify-content-center full-height bg-image">
    <div class="background-image-wraper custom-overlay" style="background: url('{{ theme.OyDiskImgPath() }}/pattern-1.svg') repeat center center;opacity: 1;"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
				<div class="col-md-9 col-lg-7">
					<div class="error-content-wrap text-center text-white">
						<div class="notfound-404">
							<h1 class="text-white">403</h1>
						</div>
						<h2 class="text-white">{{ t("error_page_403_detail", "Unauthorised!") }}</h2>
						<a class="btn btn-brand-03" href="{{ CORE_SITE_PATH }}">« {{ t('go_back_to_home', 'Go back to home') }}</a>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
